################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OCR_Tool/bin/
/OCR_Tool/obj/

OCR_Tool/bin/Debug/OCR_Tool.pdb
OCR_Tool/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs
/OCR_Tool/packages
