################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OCR_Tool/bin/
/OCR_Tool/obj/
